::ng-deep .rules-text {

    img {
        display: inline-block;
        max-height: 16px;
        position: relative;
        top: 3px;
    }

    em, i {
        font-style:italic;
    }

    strong, b {
        font-weight: 500;
    }

    br {
        display: block;
        margin-bottom: 0.5rem;
        content: " ";
        line-height: 1rem;
    }
}