::ng-deep .rules-text {
    img {
        max-height: 16px;
    }

    em {
        font-style:italic;
    }

    strong {
        font-weight: 500;
    }

    br {
        display: block;
        margin-bottom: 0.5rem;
        content: " ";
        line-height: 1rem;
    }
}