<div class="card-view-component" *ngIf="card">
    <div class="flex-container card-info">
        <div class="image-container">
            <img class="card-image" *ngIf="_selectedPrinting.image" [src]="_selectedPrinting.image" [alt]="card.name">
            <ul *ngIf="card.printings.length > 1" class="printings-container">
                <li *ngFor="let printing of card.printings" (click)="setSelectedPrinting(printing)">
                    <div *ngIf="_selectedPrinting.printedIn === printing.printedIn" class="selected-glow"></div>
                    <img *ngIf="_selectedPrinting.printingIcon" [src]="printing.printingIcon">
                </li>
            </ul>
        </div>
        <div class="info-container">
            <h1>{{card.name}}</h1>
            <h2>
                <span *ngIf="card.rarity">
                    <strong>{{card.rarity}} </strong>
                </span>
                <span>{{card.types.join(' ')}} </span>
                <span *ngIf="card.subtypes && card.subtypes.length">: {{card.subtypes.join(' • ')}}</span>
            </h2>

            <div>
                <div *ngIf="card.faction" class="stat">
                    <div class="mat-caption">Faction</div>
                    <div class="mat-input">{{card.faction | titlecase}}</div>
                </div>

                <div *ngIf="card.cost" class="stat">
                    <div class="mat-caption">Cost</div>
                    <div class="mat-input">
                        <nc-rules-text [text]="card.cost"></nc-rules-text>
                    </div>
                </div>

                <div class="stat">
                    <div class="mat-caption">Text</div>
                    <nc-rules-text [text]="card.text"></nc-rules-text>
                </div>

                <div class="stat" *ngIf="_selectedPrinting.artist">
                    <div class="mat-caption">Artist</div>
                    <div class="mat-input">{{_selectedPrinting.artist}}</div>
                </div>

                <div class="stat flavor-text" *ngIf="_selectedPrinting.flavorText">
                    {{_selectedPrinting.flavorText}}
                </div>

                <div *ngIf="_selectedPrinting.printedIn" class="stat">
                    <div class="mat-caption">Printed in</div>
                    <div class="mat-input">{{_selectedPrinting.printedIn}}</div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex-container external-links" *ngIf="_selectedPrinting.viewOn || _selectedPrinting.buyAt">
        <div class="view-on-container">
            <h3>View on</h3>
            <nc-external-info-provider *ngFor="let provider of _selectedPrinting.viewOn" [provider]="provider"></nc-external-info-provider>
        </div>

        <div class="buy-at-container">
            <h3>Buy at</h3>
            <nc-external-info-provider *ngFor="let provider of _selectedPrinting.buyAt" [provider]="provider"></nc-external-info-provider>
        </div>
    </div>
</div>