@import '~@angular/material/theming';
@import 'src/styles/nucard-theme.scss';

.card-view-component {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 2rem;
    }

    h2 {
        margin-top: -1.6rem;
        font-weight: 300;
    }

    h2 strong {
        font-weight: 500;
    }

    .card-info {
        margin-bottom: 1rem;
    }

    .mat-caption {
        color: mat-color($nucard-primary);
    }

    img.card-image {
        border-radius: 12px;
        max-width: 225px;
    }

    .faction-icon {
        max-height: 20px;
    }

    .faction-name {
       display: inline-block;
       padding-bottom: 8px;
       vertical-align: middle;
    }

    .printings-container {
        display: flex;
        width: 100%;
        margin-top: 0.6rem;
        align-items: center;
        justify-items: center;
        justify-content: center;

        li {
            cursor: pointer;
            margin-right: 3rem;
            border-radius: 50%;
            position: relative;

            .selected-glow {
                background: #eeeeee;
                border-radius: 50%;
                height: 12px;
                width: 12px;
                box-shadow: 0px 0px 20px 12px mat-color($nucard-primary);
                position: absolute;
                left: 8px;
                top: 8px;
            }

            img {
                position: absolute;
            }
        }
    }

    .stat {
        margin-bottom: 1rem;

        &.flavor-text {
            font-style: italic;
        }
    }

    .external-links {
        display: flex;
        margin-top: 1rem;

        h3 {
            margin-left: 16px;
        }
    }

    .flex-container {
        display: flex;

        .image-container, .view-on-container {
            margin-right: 2rem;
            min-width: 250px;
        }

        .info-container, .buy-at-container {
            flex-grow: 1;
        }
    }
}