<div class="card-view-component" *ngIf="card">
    <div class="flex-container card-info">
        <div class="image-container">
            <img class="card-image" [src]="_selectedPrinting.image" [alt]="card.name">
            <ul class="printings-container">
                <li *ngFor="let printing of card.printings" (click)="setSelectedPrinting(printing)">
                    <div *ngIf="_selectedPrinting.printedIn === printing.printedIn" class="selected-glow"></div>
                    <img [src]="printing.printingIcon">
                </li>
            </ul>
        </div>
        <div class="info-container">
            <h1>{{card.name}}</h1>
            <h2>
                <span *ngIf="card.rarity">
                    <strong>{{card.rarity}} </strong>
                </span>
                <span *ngFor="let type of card.types">{{type}} </span>
            </h2>

            <div>
                <div class="stat">
                    <div class="mat-caption">Cost</div>
                    <div class="mat-input">
                        <nc-card-cost [card]="card"></nc-card-cost>
                    </div>
                </div>

                <div class="stat">
                    <div class="mat-caption">Type</div>
                    <div class="mat-input">
                        <span *ngFor="let type of card.types">{{type}} </span>
                        <span *ngIf="card.subtypes && card.subtypes.length"> | </span>
                        <span *ngFor="let type of card.subtypes">{{type}} </span>
                    </div>
                </div>

                <div class="stat">
                    <div class="mat-caption">Text</div>
                    <ngx-md class="mat-input" [data]="card.text"></ngx-md>
                </div>

                <div class="stat" *ngIf="_selectedPrinting.artist">
                    <div class="mat-caption">Artist</div>
                    <div class="mat-input">{{_selectedPrinting.artist}}</div>
                </div>

                <div class="stat flavor-text" *ngIf="_selectedPrinting.flavorText">
                    {{_selectedPrinting.flavorText}}
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex-container external-links" *ngIf="_selectedPrinting.viewOn.length || _selectedPrinting.buyAt.length">
        <div class="view-on-container">
            <h3>View on</h3>

            {{card.viewOn}}
            <nc-external-info-provider *ngFor="let provider of _selectedPrinting.viewOn" [provider]="provider"></nc-external-info-provider>
        </div>

        <div class="buy-at-container">
            <h3>Buy at</h3>
            <nc-external-info-provider *ngFor="let provider of _selectedPrinting.buyAt" [provider]="provider"></nc-external-info-provider>
        </div>
    </div>
</div>