<div class="about-component">
    <h1>About</h1>
    <mat-tab-group>
        <mat-tab label="LIBRARIES & MODULES">
            <div class="tab-content">
                <table>
                    <tr>
                        <td class="label">
                            Brought to native by
                        </td>
                        <td class="value">
                            <img src="../../assets/images/electron-logo.svg" alt="Electron Logo" class="library-icon">
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Framework by
                        </td>
                        <td class="value">
                            <img src="../../assets/images/angular-logo.svg" alt="Angular Logo" class="library-icon">
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Full-text search provided by
                        </td>
                        <td class="value">
                            <img src="../../assets/images/algolia-logo.svg" alt="Algolia Logo" class="library-icon">
                        </td>
                    </tr>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="SPECIAL THANKS">Stuff</mat-tab>
        <mat-tab label="ABOUT NUCARD">
            <div class="tab-content">
                <table>
                    <tr>
                        <td class="label">
                            Client version
                        </td>
                        <td class="value">
                            {{version}}
                        </td>
                    </tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>