.card-result-component {
    mat-list-item {
        cursor: pointer;
    }
    
    h2 {
        font-size: 1.2rem;
    }

    .types {
        margin-top: -0.75rem;
    }
    
    .costs img {
        height: 16px;
    }

    span {
        font-size: 0.9rem;
    }
}