@import '~@angular/material/theming';
@import 'src/styles/nucard-theme.scss';

.search-results-component {
    mat-list-item {
        cursor: pointer;
    }

    div[matListAvatar] {
        background-color: mat-color($nucard-primary);
        width: 64px;
        height: 64px;
    }

    .card-faux-avatar {
        background-repeat: no-repeat;
        background-position: 50% 25%; 
        border-radius: 50%;
        height: 64px;
        width: 64px;    
    }
    
    h2 {
        font-size: 1.2rem;
    }

    .types {
        margin-top: -0.75rem;
    }
    
    .costs img {
        height: 16px;
    }

    span {
        font-size: 0.9rem;
    }
}