<div class="card-search-view-component">
    <div class="layout">
        <div class="search-box-container">
            <mat-form-field>
                <input id="search-box" type="text" autofocus matInput ncSearchBox [placeholder]="searchPrompt" [(ngModel)]="query" (ngModelChange)="onQueryChanged()"
                />
            </mat-form-field>
        </div>
        <div class="cards">
            <div class="spinner">
                <img *ngIf="isSearching" src="assets/images/loading.svg" alt="Loading...">
            </div>
            <nc-search-results *ngIf="searchResults && !isSearching" [searchResults]="blark" (selectedResultChange)="resultSelected($event)"></nc-search-results>
            <nc-card-view *ngIf=" selectedResult " [extensionId]="selectedResult.extension.id " [card]="selectedResult.card "></nc-card-view>
        </div>
    </div>
</div>