<div class="card-search-view-component">
    <div class="layout">
        <div class="search-box-container">
            <mat-form-field>
                <input id="search-box" type="text" autofocus matInput ncSearchBox [placeholder]="searchPrompt" [(ngModel)]="query" (ngModelChange)="onQueryChanged()"
                />
            </mat-form-field>
        </div>
        <div class="cards">
            <div class="spinner">
                <mat-progress-spinner *ngIf="isSearching" mode="indeterminate"></mat-progress-spinner>
            </div>
            <nc-card-result *ngIf="searchResults && !isSearching" [searchResults]="searchResults" (selectedResultChange)="resultSelected($event)"></nc-card-result>
            <nc-card-view *ngIf="selectedResult" [card]="selectedResult.card"></nc-card-view>
        </div>
    </div>
</div>